<html>
  <head>
    <title>Bad Request</title>
  </head>
  <body>
    <h1>Bad Request</h1>
    <p><%= @message %></p>

    <h2>Request headers:</h2>
    <pre><%= request.to_s %></pre>
  </body>
</html>
