<html>
  <head>
    <title>Can't start application <%= @app_name %></title>
  </head>
  <body>
    <h1>Can't start application <q><%= @app_name %></q></h1>
    <p>Please look at <code><%= @spawner.log_path %></code> for details</p>
  </body>
</html>
