<html>
  <head>
    <title>Can't start application <%= app.name %></title>
  </head>
  <body>
    <h1>Can't start application <q><%= app.name %></q></h1>
    <p>Please look at <code><%= app.log_path %></code> for details</p>
  </body>
</html>
