<html>
  <head>
    <title>Can't connect to <%= app.name %></title>
  </head>
  <body>
    <h1>Can't connect to <%= app.name %> on port <%= app.port %></h1>
    <p>Is your application running?</p>
  </body>
</html>
