<html>
  <head>
    <title>Error starting application <%= @app_name %></title>
  </head>
  <body>
    <h1>Error starting application <%= @app_name %></h1>
    <h2>Your Rack app raised an exception while trying to start it.</h2>

<pre>
<strong><%= @exception.to_s %></strong>
<%= @exception.stack.join("\n") %>
</pre>

  </body>
</html>
