<html>
  <head>
    <title>Timeout Error in <%= @app_name %></title>
  </head>
  <body>
    <h1>Timeout Error in <q><%= @app_name %></q></h1>
    <p>Your application didn't respond in the alloted time.</p>
  </body>
</html>
