<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css"/>
  </head>
  <body>

    <header id="header">
      <div class="row">
        <div class="small-6 columns">
          <h1>Prax</h1>
          <p>Rack proxy server for development</p>
        </div>

        <nav class="small-6 columns">
          <ul>
            <li><a href="index.html">Overview</a></li>
            <!--li><a href="documentation.html">Documentation</a></li-->
            <li><a href="https://github.com/ysbaddaden/prax">View on GitHub</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <article class="row">
      <div class="small-12 columns">
        {{ content }}
      </div>
    </article>

    <footer>
      &copy; 2013 Julien Portalier
    </footer>

  </body>
</html>
